streamlit>=1.24.0
spacy==3.5.0
python-Levenshtein>=0.12.2
--find-links https://github.com/explosion/wheelwright/releases/download/v3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
en-core-web-sm==3.5.0
blis==0.7.7; sys_platform != 'linux' or platform_machine != 'x86_64'
blis==0.7.7+1.auto.1; sys_platform == 'linux' and platform_machine == 'x86_64'
